  <h4>
    Search for a player or view by position
    <br />
    <br />
    <ul>
      <li><%= link_to 'Quarterback', quarterbacks_path %></li>
      <li><%= link_to 'Running Back PPR', ppr_running_backs_path %></li>
      <li><%= link_to 'Running Back Standard', std_running_backs_path %></li>
      <li><%= link_to 'Wide Receiver PPR' %></li>    
      <li><%= link_to 'Wide Receiver Standard' %></li>
      <li><%= link_to 'Flex' %></li>
      <li><%= link_to 'Tight End', tight_ends_path %></li>
      <li><%= link_to 'Kicker', kickers_path %></li>
      <li><%= link_to 'D/ST', defenses_path %></li>
    </ul>
  </h4>
</header>
<br />
<section class="search-form">
  <%= form_for :players, method: :get do |f| %>
    <div class="input-group input-group-lg">
      <%= label_tag :keywords, nil, class: "sr-only" %> 
      <%= text_field_tag :keywords, nil,
        placeholder: "Player name, position, team",
        class: "form-control input-lg" %> 
      <span class="input-group-btn">
        <%= submit_tag "Find Players",
          class: "btn btn-primary btn-lg" %>
      </span>
    </div>
  <% end %>
</section>
