<section class="quarterback-results"> 
  <ul class="breadcrumb">
    <li>
      <%= link_to "Home Page", root_path %>
    </li>
    <li class="active">Quarterbacks</li>
  </ul>
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Ranking</h3>
        </div>
        <div class="panel-body">
          Ordered by projected player rankings from SB Nation for 2016 season
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Scoring</h3>
        </div>
        <div class="panel-body">
          Points based off ESPN Standard scoring from 2015 season
        </div>
      </div>
    </div>

     <table class="table table-striped">
      <thead> 
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Points</th>
          <th>Team</th>
      </tr>
    </thead>
    <tbody>
      <% @quarterbacks.each do |q| %> 
        <tr>
          <td><%= q.rank %></td>
          <td><%= q.name %></td>
          <td><%= q.points %></td>
          <td><%= q.team %></td>
        </tr>
      <% end %> 
    </tbody>
  </table>
</section>
