<section class="ppr_running_backs-results"> 
  
  <%= render "dashboard/tab" %>

  <ul class="breadcrumb">
      <li>
        <%= link_to "Home Page", root_path %>
      </li>
      <li class="active">Running Backs PPR</li>
    </ul>
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Ranking</h3>
        </div>
        <div class="panel-body">
          Ordered by projected player rankings from SB Nation for 2016 season
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Scoring</h3>
        </div>
        <div class="panel-body">
          Points based off fantasydata.com PPR scoring
        </div>
      </div>
    </div>

    <table class="table table-striped">
    <thead> 
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Points</th>
        <th>Team</th>
      </tr>
    </thead>
    <tbody>
      <% @ppr_running_backs.each do |r| %> 
        <tr>
          <td><%= r.rank %></td>
          <td><%= r.name %></td>
          <td><%= r.points %></td>
          <td><%= r.team %></td>
        </tr>
      <% end %> 
    </tbody>
  </table>
</section>  
