<section class="ppr_running_backs-results"> 
  <header>
    <h1 class="h3">PPR Running Backs</h1> 
    <div class="SB_ranks">
      <p>Subjective player rankings by SB Nation</p>
    </div>
    <br />
    <br />
    <div class="ESPN_points">
      <p>Points based off ESPN Standard</p>
    </div>  
  </header>
  <%= link_to root_path, class: "left-arrow" do %>
    <i class="glyphicon glyphicon-circle-arrow-left"> Back</i>
  <% end %>
   <table class="table table-striped">
    <thead> 
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Points</th>
        <th>Team</th>
      </tr>
    </thead>
    <tbody>
      <% @ppr_running_backs.each do |r| %> 
        <tr>
          <td><%= r.rank %></td>
          <td><%= r.name %></td>
          <td><%= r.points %></td>
          <td><%= r.team %></td>
        </tr>
      <% end %> 
    </tbody>
  </table>
   <%= link_to root_path, class: "left-arrow" do %>
    <i class="glyphicon glyphicon-circle-arrow-left"> Back</i>
  <% end %>
</section>

