<section class="kickers-results"> 
  <header>
    <h1 class="h3">Kickers</h1> 
    <div class="SB_ranks">
      <p>Rankings based on total points from 2015</p>
    </div>
    <br />
    <br />
    <div class="ESPN_points">
      <p>Points based off fantasydata.com Standard scoring</p>
    </div>  
  </header>
  <%= link_to root_path, class: "left-arrow" do %>
    <i class="glyphicon glyphicon-circle-arrow-left"> Back</i>
  <% end %>
   <table class="table table-striped">
    <thead> 
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Points</th>
        <th>Team</th>
      </tr>
    </thead>
    <tbody>
      <% @kickers.each do |k| %> 
        <tr>
          <td><%= k.rank %></td>
          <td><%= k.name %></td>
          <td><%= k.points %></td>
          <td><%= k.team %></td>
        </tr>
      <% end %> 
    </tbody>
  </table>
   <%= link_to root_path, class: "left-arrow" do %>
    <i class="glyphicon glyphicon-circle-arrow-left"> Back</i>
  <% end %>
</section>


